/*** Color palette ***/
* {


    /*** Main colors ***/
    -color-main-foreground: #efefef;
    -color-main-background: #f4f4f4; /* The default color of the JavaFX pane is f4f4f4. */
    -color-text-primary: #151515;
    -color-main-blue: #aeccfc;
    -color-secondary-blue: #7baeff;

    /*** Darker gray ***/
    -color-gray-darker: #e2e2e2;


    /*** Miscellaneous ***/
    -color-tooltip-background: #dcdcdc;
    -effect-dropshadow: dropshadow(gaussian, #00000077, 7, 0.2, 4, 5 );

}
/********************/

/*** Background ***/


/*** Icon buttons ***/
.button-transparent {
    -fx-background-color: -color-main-background; /* Creates the transparent look */
}

.button-hover:button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
.button-pressed:button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

/*** Title label ***/

.character-list-label:label {
        -fx-font-size: 14pt;
        -fx-font-weight: bold;
        -fx-text-fill: -color-text-primary;
}


/*** List view ***/

.character-list-list:list-view {
    -fx-padding: 0;
}

character-list:list-view:focused {
    -fx-background-insets: 0, 0, 0, 0;
}


/*** Listview cells ***/

.list-cell {
    -fx-font-size: 14;
    -fx-alignment: center;
}

.list-cell:filled:hover {
  -fx-background-color: -color-main-blue;
  -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
  -fx-background-color: -color-main-blue;
  -fx-text-fill: white;
}

.list-cell:odd, .list-cell:even {
  -fx-background-color: -color-main-background;
}

/*** Panes ***/



