/*** Color palette ***/
* {

    /*** Main colors ***/
    -color-main-foreground: #efefef;
    -color-main-background: #dfdfdf;
    -color-text-primary: #151515;

    /*** Timeline colors ***/
    -color-timeline-event-rect: #aeccfc; // the color of event rectangles in the timeline
    -color-timeline-line: #252525; // the color of all lines (and borders) in the timeline

    /*** Miscellaneous ***/
    -color-tooltip-background: #dcdcdc;
    -effect-dropshadow: dropshadow(gaussian, #00000077, 7, 0.2, 4, 5 );

}
/********************/

.root {
    -fx-background-color: -color-main-foreground;
}

.scroll-pane > .viewport {
    -fx-background-color: -color-main-foreground;
}

.label {
    -fx-text-fill: -color-text-primary;
}

/*** Timeline ***/
.timeline-line {
    -fx-stroke: -color-timeline-line;
    -fx-stroke-width: 1;
}

.timeline-event-rect {
    -fx-fill: -color-timeline-event-rect;
    -fx-stroke: -color-timeline-line;
    -fx-stroke-width: 1;
    -fx-stroke-line-cap: round;
    -fx-effect: -effect-dropshadow;
}

.timeline-event-rect:hover {
    -fx-fill: derive(-color-timeline-event-rect, 25%); // Adds <value>% brightness
    -fx-stroke: derive(-color-timeline-event-rect, -25%);
}

.timeline-tooltip {
    -fx-background-color: -color-tooltip-background;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: -color-text-primary;
    -fx-effect: -effect-dropshadow;
}

/************************/
/*** Character list ***/
.outerPane {
    -fx-background-color: #f4f4f4;
}

.innerPane {
    -fx-foreground-color: #f4f4f4;
}

.character-list-headline {
    -fx-font-size: 14pt;
}

/*** Icon buttons ***/
.character-list-buttons {
    -fx-background-color: -color-main-background; /* Creates the transparent look */
}

.character-list-buttons:button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
.character-list-buttons:button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

/*** Character Chart ***/
.characterchart-scrollpane > .viewport {
    -fx-background-color: red;
}

.characterchart-rect {
    -fx-fill: -color-timeline-event-rect;
    -fx-stroke: -color-timeline-line;
    -fx-stroke-width: 1;
    -fx-stroke-line-cap: round;
    -fx-effect: -effect-dropshadow;
}

.characterchart-tooltip {
    -fx-background-color: -color-tooltip-background;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: -color-text-primary;
    -fx-effect: -effect-dropshadow;
}


/***************